<nav>
  <ul class="topmenu">

    <li><a> <%= link_to "Сотрудники", employees_list_path %></a>
      <ul class="submenu">
        <li><a> <%= link_to "Создать информацию о новом сотруднике", employees_new_path %></a>
      </ul>
    <li><a> <%= link_to "Выдача", out_list_path %></a>
      <ul class="submenu">
        <li><a> <%= link_to "Создать информацию о выдачи", out_new_path %></a>
      </ul>
    <li><a> <%= link_to "Книги", book_list_path %></a>
      <ul class="submenu">
        <li><a> <%= link_to "Создать информацию о новых книгах", book_new_path %></a>

      </ul>
    </li>
    <li><a> <%= link_to "Библиотеки", lib_list_path %></a>
      <ul class="submenu">
        <li><a> <%= link_to "Создать информацию о новых библиотеках", lib_new_path %></a>

      </ul>
    </li>
    <li><a> <%= link_to "Абоненты", user_list_path %></a>
      <ul class="submenu">
        <li><a> <%= link_to "Создать информацию о новых абонентах", user_new_path %></a>

      </ul>
    </li>
  </ul>
</nav>
<div class="title">
<% if @books.blank? %>
  <p>Нет книг.</p>
<% else %>
  <p>Книги:</p>
  </div>




    <div class="body">
    <% @books.each do |c| %>
      <li><%= link_to c.name_book, {:action => 'show', :id => c.id} -%></li>

      <b> <%= link_to 'Редактировать', {:action => 'edit', :id => c.id} %></b>
      <br>
      <b> <%= link_to "Удалить", {:action => 'delete', :id => c.id},
                      :confirm => "Уверены, что хотите удалить?" %></b>

    <% end %>

  </ul>

<% end %>

<p><%= link_to "Добавить новую книгу", {:action => 'new' }%></p>
  </div>