<nav>
  <ul class="topmenu">

    <li><a> <%= link_to "Сотрудники", employees_list_path %></a>
      <ul class="submenu">
        <li><a> <%= link_to "Создать информацию о новом сотруднике", employees_new_path %></a>
      </ul>
    <li><a> <%= link_to "Выдача", out_list_path %></a>
      <ul class="submenu">
        <li><a> <%= link_to "Создать информацию о выдачи", out_new_path %></a>
      </ul>
    <li><a> <%= link_to "Книги", book_list_path %></a>
      <ul class="submenu">
        <li><a> <%= link_to "Создать информацию о новых книгах", book_new_path %></a>

      </ul>
    </li>
    <li><a> <%= link_to "Библиотеки", lib_list_path %></a>
      <ul class="submenu">
        <li><a> <%= link_to "Создать информацию о новых библиотеках", lib_new_path %></a>

      </ul>
    </li>
    <li><a> <%= link_to "Абоненты", user_list_path %></a>
      <ul class="submenu">
        <li><a> <%= link_to "Создать информацию о новых абонентах", user_new_path %></a>

      </ul>
    </li>
  </ul>
</nav>
<h1><%= @book.name_book %></h1>

<p>
  <strong>Название книги: </strong> <%= @book.name_book %><br />
  <strong>Автор: </strong> <%= @book.autor %><br />
  <strong>Шифр: </strong> <%= @book.code %><br />
  <strong>Издательство: </strong> <%= @book.publiching %><br />
  <strong>Год издания: </strong> <%= @book.date_pub %><br />
  <strong>Цена: </strong> <%= @book.price %><br />
  <strong>Дата поступления: </strong> <%= @book.date_start %><br />
  <strong> Библиотека в которой находится книга - </strong>

  <%= @book.lib.libs_name %><br />

</p>



<hr />

<%= link_to 'Назад', {:action => 'list'} %>